/* Navbar styles */
.navbar,
.offcanvas {
  background-color: #294b29;
  color: white;
}

.offcanvas-body {
  background-color: #294b29;
}

.offcanvas-header {
  color: white;
  background-color: #294b29;
}

.navbar-brand {
  font-size: 1.5rem;
}

.brand-image {
  float: right;
  line-height: 0.8;
  margin-left: 0.8rem;
  margin-right: 0.5rem;
  margin-top: -3px;
  max-height: 33px;
  width: auto;
}

.img-circle {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.search-form {
  width: 100%;
  max-width: 500px; /* Adjust as needed */
  display: flex;
  justify-content: center;
}
