* {
  font-family: Georgia, "Times New Roman", Times, serif;
}
/* 
.container {
  margin: 25px 50px;
}

.container h1 {
  margin-top: 70px;
} */

/* .card img {
  width: 100%;
  max-height: 100%;
} */
